<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title><TMPL_VAR name></title>

	<link href="css/layout.css" rel="stylesheet" type="text/css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link href="css/gnomefr-light.css" rel="stylesheet" type="text/css">

	<link rel="icon" type="image/png" href="images/logo-gnomefr-16.png">
	<link rel="SHORTCUT ICON" type="image/png" href="images/logo-gnomefr-16.png">
	<link rel="alternate" type="application/rss+xml" title="Planète GNOME-FR (Atom 1.0)" href="atom.xml">
	<link rel="alternate" type="application/rss+xml" title="Planète GNOME-FR (RSS 2.0)" href="rss20.xml">
</head>

<body>
  <!-- site header -->
  <div id="page">
    <ul id="general">
      <li id="siteaction-gnome_home" class="home"><a href="http://www.gnome.org/">Accueil</a></li>
      <li id="siteaction-gnome_news"><a href="http://news.gnome.org">Actualités</a></li>
      <li id="siteaction-gnome_projects"><a href="http://www.gnome.org/projects/">Projets</a></li>
      <li id="siteaction-gnome_art"><a href="http://art.gnome.org">Art</a></li>
      <li id="siteaction-gnome_support"><a href="http://www.gnome.org/support/">Assistance</a></li>
      <li id="siteaction-gnome_development"><a href="http://developer.gnome.org">Développement</a></li>
      <li id="siteaction-gnome_community"><a href="http://www.gnome.org/community/">Communauté</a></li>
    </ul>
    <div id="header">
      <h1>
        Planète GNOME-FR
      </h1>
      <div id="tabs">
        <ul id="portal-globalnav">
          <li><a href="/"><span>Planète</span></a></li>
          <li class="selected">
	    <a href="light.html"><span title="(plus légère !)">Version sans images</span></a>
	  </li>
          <li><a href="#sources"><span>À propos de la planète</span></a></li>
        </ul>
      </div> <!-- end of #tabs -->
    </div> <!-- end of #header -->
  </div>
<!-- end site header -->

<div class="body">
  <div id="content">

<TMPL_IF banner_message>
<div style="border: 1px solid #e0e0df; background-color: #fffff0; padding: 0.5em 1em 0.5em 1em; padding-left: 60px; min-height: 50px; background-position: 6px 0.5em; background-repeat: no-repeat; background-image: url(http://library.gnome.org/skin/admon-note.png); margin-bottom: 2em; width: 50%; margin-left: auto; margin-right: auto;"><TMPL_VAR banner_message></div>
</TMPL_IF>

<TMPL_LOOP Items>

<TMPL_IF new_date>
<div class="planetDate"><TMPL_VAR new_date></div>
</TMPL_IF>

<TMPL_IF new_channel>
<p class="planetPostAuthor"><a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_VAR channel_name></a></p>
<TMPL_IF channel_face><img src="<TMPL_VAR channel_face>" class="face" alt=""></TMPL_IF>
</TMPL_IF>
<TMPL_IF title><p class="planetPostTitle"><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></p></TMPL_IF>
<div class="planetPost">
<TMPL_VAR content>
<p><a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">" class="planetPermalink">(<TMPL_IF creator>par <TMPL_VAR creator> le </TMPL_IF><TMPL_VAR date>)</a></p>
</div>

</TMPL_LOOP>
</div>


<div id="sources">
	<h3>Sources</h3>
	<ul>
	<TMPL_LOOP Channels>
        <li>
	<TMPL_IF url>
	<a href="<TMPL_VAR url ESCAPE="HTML">" title="s'abonner"><img src="images/feed-icon-10x10.png" alt="(flux)"></a>
	<TMPL_ELSE>
	<img src="images/feed-icon-10x10.png" alt="(flux)">
	</TMPL_IF>
	<TMPL_IF link>
	<a href="<TMPL_VAR link ESCAPE="HTML">" <TMPL_IF message>class="message" title="<TMPL_VAR message ESCAPE="HTML">"</TMPL_IF><TMPL_UNLESS message>title="<TMPL_VAR title_plain ESCAPE="HTML">"</TMPL_UNLESS>><TMPL_VAR name></a>
	<TMPL_ELSE>
	<span <TMPL_IF message>class="message" title="<TMPL_VAR message ESCAPE="HTML">"</TMPL_IF><TMPL_UNLESS message>title="<TMPL_VAR title_plain ESCAPE="HTML">"</TMPL_UNLESS>><TMPL_VAR name></span>
	</TMPL_IF>
	</li>
	</TMPL_LOOP>
	</ul>
</div>


<div id="infos">
	<div class="section">
	<h3>Planète GNOME-FR</h3>
	<p>Planète GNOME-FR est un aperçu de la vie, du travail et plus généralement du monde des membres de la communauté <a href="http://www.gnomefr.org/">GNOME-FR</a>.</p>

	<p>Certains billets sont rédigés en anglais car nous collaborons avec des gens du monde entier.</p>

	<p><strong>Dernière mise à jour :</strong><br /><TMPL_VAR date> UTC<br /><em>Toutes les heures sont UTC.</em></p>
        </div>

        <div class="section">
	<h3>Colophon</h3>

	<p>Planète GNOME-FR est propulsée par l'agrégateur <a href="http://www.planetplanet.org/">Planet</a>, cron, <a href="http://www.python.org/">Python</a>, <a href="http://www.redhat.com/">Red Hat</a> (qui héberge ce serveur).</p>

	<p>Le design du site est basé sur celui des sites GNOME et de <a href="http://planet.gnome.org/">Planet GNOME</a>.</p>

	<p>Planète GNOME-FR est maintenue par <a href="mailto:fpeters@0d.be">Frédéric Péters</a> et <a href="mailto:liberforce@freeside.fr">Luis Menina</a>. Si vous souhaitez ajouter votre blog à cette planète, il vous suffit d'<a href="http://bugzilla.gnome.org/enter_bug.cgi?product=website&amp;component=planete.gnomefr.org">ouvrir un bug</a>. N'hésitez pas à nous contacter par courriel pour toute autre question.</p>
        </div>


        <div class="section">
	
	<h3>Autres planètes</h3>

	<ul>
	  <li class="pgo-top-list"><a href="http://planet.gnome.org">Planet GNOME</a></li>
	  <li><a href="http://planet.gnome-ev.de/">Allemagne</a></li>
	  <li><a href="http://www.gnomebangalore.org/?q=blog">Bangalore, Inde</a></li>
	  <li><a href="http://br.gnome.org/">Brésil</a></li>
	  <li><a href="http://gnome.cult.bg/">Bulgarie</a></li>
	  <li><a href="http://planeta.gnome.cl/">Chili</a></li>
	  <li><a href="http://gnome.or.kr/pgk/">Corée</a></li>
	  <li><a href="http://planeta.es.gnome.org/">Espagnne</a></li>
	  <li><a href="http://planet.gnome.gr/">Grèce</a></li>
	  <li><a href="http://it.gnome.org/planet/">Italie</a></li>
	  <li><a href="http://planet.nl.gnome.org/">Pays-Bas</a></li>
	  <li><a href="http://www.uk.gnome.org/planet/">Royaume-Uni</a></li>
	  <li><a href="http://www.gnome.org.tr/">Turquie</a></li>

	</ul>

        </div>



        <div class="section subscribe">
	<h3>S'abonner</h3>
	<ul>
		<li><a href="atom.xml">Atom 1.0</a></li>
		<li><a href="rss20.xml">RSS 2.0</a></li>
		<li><a href="foafroll.xml">FOAF</a></li>
		<li><a href="opml.xml">OPML</a></li>
	</ul>
        </div>

<div id="footer">
<p>
 Copyright &copy; 2003-2014 <a href="http://www.gnome.org/">Le Projet GNOME</a>
</p>
<p>
Les billets de blog agrégés sur cette page appartiennent à leurs auteurs respectifs et les opinions exprimées n'engagent que leurs auteurs.
</p>

<p>
<a href="http://validator.w3.org/check/referer">Optimisé</a> pour les
<a href="http://www.w3.org/">standards</a>.
<br />
Hébergé par <a href="http://redhat.com/">Red Hat</a>.
</p>
</div>

<hr />

</div>
</div>




</body>

</html>
